/*
HOME
*/

body.home h1 {
  padding-bottom: 5px;
  border-bottom: 5px solid black;
  font-family: "Pompiere";
  font-size: 60px;
  margin-bottom: 12px;
}

body.home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body.home li {
  // float: left;
}

body.home li a {
  display: block;
  padding: 8px;
  font-family: "Lato";
  font-size: 22px;
}

body.home nav {
  position: relative;
  top: 50%;
  left: 10%;
  width:30rem;
}

body.home .flex-item li {
  text-align: center;
}

body.home .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

body.home .dropdown {
    position: relative;
    display: inline-block;
}

body.home .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

body.home .dropdown-content:hover {
  display: inline-block;
}

body.home .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Lato";
    font-size: 18px;
}

body.home .dropdown-content ul {
  text-align: center;
}

body.home .dropdown-content li {
  width:100%;
}

body.home .dropdown-content a:hover {
  background-color: #f1f1f1
}

body.home .dropdown:hover .dropdown-content {
    display: block;
}

body.home .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*
ABOUT
*/

body.about_me .container {
  width: 80%;
  margin: 0 auto;
  font-family: "Lato";
  font-size: 18px;
  line-height: 1.4;
}

body.about_me .teaser {
  position: relative;
}

body.about_me .title {
  position: absolute;
  font-family: "Pompiere";
  font-size: 60px;
  color: #fd5f00;
}

body.about_me .img-right {
  border-radius: 50%;
  margin-left: calc(80% - 100px);
  background-image: url("../images/schulz_svenja.jpg");
  background-size: 200px auto;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

body.about_me .content {

}

body.about_me .main-content {
  width: 80%;
  float:left;
  text-align: left;;
  border-left: 1px solid black;
  padding: 8px;

}

body.about_me .sidebar {
  height:250px;
  float:left;
  width:25%;
  box-sizing: border-box;
}

/*
CV
*/

body.cv .container {
  width: 80%;
  margin: 0 auto;
}

body.cv .block-filled:before  {
  content: "\25A0";
  color: #fd5f00;
}

body.cv .block-empty:before  {
  content: "\25A1";
  color: #fd5f00;
}

[class*="block"] {
  font-size: 30px;
}

[class*="item"] {
  display: inline-block;
  padding: 0 20px 0 0 !important;
  vertical-align: super;
}

body .language-item {
  font-family: "Lato";
  font-size: 18px;
}

div.date {
  width: 30%;
  float: left;
  font-family: "Lato";
  font-size: 18px;
  font-weight: bold;
}

.date p, .study-info h4 {
  margin: 0;
}

div.study-info {
  width:70%;
  float:left;
  font-family: "Lato";
  font-size: 18px;
}

body.cv .teaser {
  height: 200px;
  position: relative;
}

body.cv .title {
  position: absolute;
  top: 50%;
  margin:0;
  font-family: "Pompiere";
  font-size: 50px;
  color: #fd5f00;
}

body.cv .name {
  position: absolute;
  top: 50%;
  right: 5%;
  font-family: "Pompiere";
  font-size: 60px;
  color: #fd5f00;
}

body.cv .personal-skill-container {
  font-family: "Lato";
  font-size: 18px;
  
}

body.cv .carrier-skill-container .main {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  position: relative;
  border: 2.5px solid black;
  box-sizing: border-box;
}

body.cv .img-mid {
  position: absolute;
  left: 40%;
  border-radius: 50%;
  // margin-left: calc(75% - 100px);
  background-image: url("../images/schulz_svenja.jpg");
  background-size: 200px auto;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

body.cv .left-content{
  float: left;
}

body.cv .right-content{
  float: left;
  border-left: 1px solid black;
  box-sizing: border-box;
  padding-left: 8px;
}

body.cv .mb {
  margin-bottom: 5px;
}

body.cv [class*="-item"]  {
  width:100px;
}

h3{
  font-family: "Lato";
  font-size: 18px;
  color: #fd5f00;
}

h4{
  font-family: "Lato";
  font-size: 18px;
  color: #fd5f00;
  font-weight: bold;
}

/* PIE CHART */
.chart {
  display: inline-block;
  margin: 40px auto 20px;
  padding: 0 10px;
  position: relative;
}

.chart > span {
  position: absolute;
  left: 0%;
  top: 45%;
  width: 100%;
  text-align: center;
  font-family: "lato";
  font-size: 13px;
}

.chart canvas {
  height: 200px;
}

/*
Grafik
*/

nav.side ul {
  list-style-type: none;
  // display:flex;
  // width:70vh;
  height:45px;
  position:fixed;
  background:#4c4c4c;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  -webkit-padding-start: 20px;
  top: 12.5%;
}

nav.side ul li {
  // float: left;
  // flex-grow: 1;
  margin-right:20px;
  float:right;
  height:100%;
  line-height:45px;
}

nav.side ul li:before {
  content:"|";
  font-size: 25px;
  padding-right: 20px;
}

nav.side ul li:last-child:before {
  content:"";
}

nav.side .dropdown-content {
  display:none;
}

nav.side .dropdown-content:hover {
  display: inline-block;
  transform: rotate(90deg);
  position: relative;
}

nav.side .dropdown-content a:hover {
  display: block;
}

nav.side .dropdown-content ul {
  list-style-type: none;
  // display:flex;
  // width:70vh;
  height:45px;
  position:fixed;
  background:#4c4c4c;
  // -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  -webkit-padding-start: 20px;
  top: 12.5%;
}

nav.side .dropdown-content ul li {
  // float: left;
  // flex-grow: 1;
  margin-right:20px;
  float:right;
  height:100%;
  line-height:45px;
}

nav.side [class*="item"] {
  width:180px;
}
/*
Generic
*/

.half {
  width: 50%;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex-grow: 1;
}

.clear {
  clear: both;
}

body.cv .clear {
  clear: both;
  height: 30px;
}
/*
  CSS TRICKS
 */


circle {
  fill: #ddd;
  stroke: #0074d9;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  transition: stroke-dasharray .3s ease;
}

svg {
  margin: 0 auto;
  transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  display: block;
}

/* start */

.profile-image {
  max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

.right {
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

th {
  border-bottom: 3px solid black;
  font-size: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


table {
  width: 70%;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.contact .container {
  margin:0 auto;
  width: 80%;
  font-family: "Lato";
}

body.contact h1{
  font-family: "Pompiere";
  font-size: 60px;
  color: #fd5f00;
}

body.contact .send-mail{
  width: 459px;
  text-align: center;
}
